.quartas-fase {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    border: 2px solid #FA5959;
    border-radius: 10px;
    text-transform: uppercase;
    gap: 2rem;
}

.quartas-fase .fase-titulo {
    color: #FA5959;
    font-weight: 600;
}

.quartas-fase .fase-jogos {
    width: 100%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}


.quartas-fase .fase-jogos .jogo {
    width: 100%;
    display: flex;
    gap: .5rem;
    text-align: center;
    flex-direction: column;
}

.quartas-fase .fase-jogos .jogo select {
    color: #FA5959;
    font-weight: 600;
}

.quartas-fase .fase-jogos .jogo option {
    color: #FA5959;
    font-weight: 600;
}

.quartas-fase .fase-jogos .jogo .jogo-numero {
    color: #FA5959;
    font-weight: 500;
}